@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

/* Header */

  #header {
    h1 {
      font-size: 3.25em;
      margin: 0 0 (_size(element-margin) * 0.275) 0;
    }

    p {
      font-size: 1.25em;
      line-height: 1.65em;
      max-width: 60%;
    }

    a {
      color: inherit;
    }

    @include breakpoint(small) {
      h1 {
        font-size: 2em;
      }

      p {
        font-size: 1em;
        max-width: 100%;
      }
    }

    @include breakpoint(xsmall) {
      margin: 0 0 (_size(element-margin) * 0.5) 0;
    }
  }
